[bucket "luci.infra.depot_tools.try"]
	builder = Depot Tools Presubmit
	builder = build Roll Tester
	builder = infra Roll Tester
	builder = skia Roll Tester
	builder = skiabuildbot Roll Tester
[bucket "master.internal.infra.try"]
	builder = build_limited Roll Tester
	builder = release_scripts Roll Tester
