[bucket "luci.infra.depot_tools.try"]
	builder = Depot Tools Presubmit
	builder = Build downstream Recipe Roll tester from Depot Tools
	builder = Infra downstream Recipe Roll tester from Depot Tools
	builder = Skia downstream Recipe Roll tester from Depot Tools
	builder = Skia Buildbot downstream Recipe Roll tester from Depot Tools
[bucket "master.internal.infra.try"]
	builder = build_limited Roll Tester (depot_tools)
	builder = release_scripts Roll Tester (depot_tools)
